*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      color: #33475b;
}
body{
      font-family: 'Roboto', sans-serif;
}
li{
      display: inline-block;
      text-decoration: none;
      padding: 5px 10px;
      line-height: 80px;
}
/* CONTENITORE PRINCIPALE */
.container{
      width: 75%;
      margin: auto;
/* FLOAT */
}
.clearfix::after{
      content: "";
      display: table;
      clear: both;
}
.float{
      float: left;
}
/* REGOLE LINK A + TRANSITION */
a{
      color: #33475b;
      text-decoration: none;
}
a.btn{
      padding: 5px 10px;
      background-color: white;
      color: #ff7a59;
      border: 1px solid #ff7a59;
      border-radius: 5px;
      transition: 1s;
}
a.btn:hover{
      background-color: #ff7a591f;
      padding: 10px 20px;
      
}
a.btn-white{
      color: #2d3e50;
      border-radius: 5px;
      padding: 5px 10px;
      background-color: rgba(255, 255, 255, 0.5);
}
a.btn-orange{
      padding: 5px 10px;
      background-color: #ff7a59;
      border-radius: 5px;
      color: white;
      transition: 1s;
}
a.btn-orange:hover{
      padding: 10px 20px;
}
a.btn-orange-large{
      font-size: 20px;
      padding: 20px 20px;
      background-color: #ff7a59;
      border-radius: 5px;
      color: white;
      transition: 0.5s;
}
a.btn-orange-large:hover{
      padding: 30px 30px;
}
/* HEADER */
header{
      width: 100%;
      display: unset;
}
/* SEZIONE LINGUA, CONTATTI E LOGIN */
header section.user-row{
      width: 100%;
      background-color: #f5f8fa;
      border-bottom: 1px solid #33475b;
      position: sticky;
      z-index: 10;
      top: 0;
      left: 0;
}
/* Lingua e contatti */
header section.user-row .user-contact{
      width: 50%;
      line-height: 80px;
}
header section.user-row .user-contact .lenguage{
      display: inline-block;
      padding-right: 15px;
}
header section.user-row .user-contact .contact{
      display: inline-block;
      padding: 0 15px;
}
/* Login utente */
header section.user-row .user-log{
      width: 50%;
      line-height: 80px;
      text-align: right;
}
header section.user-row .user-log i:first-child{
      color: #00a8c2;
      transition: 1s;
}
header section.user-row .user-log i:first-child:hover{
      font-size: 20px;
}
/* SEZIONE LOGO E MENU DEL SITO */
header section.site-row{
      width: 100%;
}
/* Logo azienda */
header section.site-row .site-logo{
      width: 50%;
}
header section.site-row .site-logo img{
      margin: 28px 0;
}
/* Menu principale */
header section.site-row .site-menu{
      width: 50%;
      text-align: right;
}
/* JUMBOTRON */
header .jumbotron{
      width: 100%;
      height: calc(950px - 160px);
      background-image: url('../img/jumbotron.png');
      background-color: #fff4ee;
      background-size: 90%;
      background-repeat: no-repeat;
      background-position: right;
      box-shadow: inset 0 3px 8px rgba(0,0,0,0.2);
      position: relative;
}
header .jumbotron:before{
      width: 100%;
      height: 70px;
      background-color: #98dae8;
      border-top: 4px solid #33475b;
      border-bottom: 4px solid #33475b;
      position: absolute;
      bottom: 0;
      left: 0;
      content: "";
      display: block;
}
/* Box dentro Jumbotron */
header section.jumbotron .jumbotron-content{
      width: 50%;
}
/* Contenuto Jumbotron */
header section.jumbotron .jumbotron-content h1{
      padding-top: 80px;
      font-size: 70px;
}
header section.jumbotron .jumbotron-content p{
      padding: 40px 0;
      font-size: 18px;
}
header section.jumbotron .jumbotron-content p.little-p{
      font-size: 12px;
      margin: 40px 0;
}
/* Fine HEADER */

/* MAIN */
main{
      width: 100%;
      height: 3000px;
      background-color: #f5f8fa;
}
/* Prima sezione trasparente con CUBO */
main section.top-section{
      width: 80%;
      text-align: center;
      margin: auto;
}
main section.top-section img{
      margin-top: 60px;
      width: 20%;
}
main section.top-section h2{
      margin-bottom: 40px;
}
main section.top-section p{
      margin-bottom: 40px;
}
/* SEZIONE CRM */
main section.crm{
      width: 100%;
      height: 400px;
      background-color: white;
      border-radius: 5px;
      box-shadow: 0 0px 5px 0 rgba(50, 73, 91, 0.2), 0 3px 20px 0 rgba(0, 0, 0, 0.1);
}
/* Parte sinistra CRM con img e titolo */
main section.crm .crm-left{
      width: 30%;
      text-align: center;
      display: block;
      position: relative;
}
/* Blocco img CRM */
main section.crm .crm-left .crm-img{
      width: 45%;
      height: 150px;
      margin: 60px auto;
      background-image: url("https://www.hubspot.com/hubfs/assets/hubspot.com/_style-guide/sword-sprocket/CRM-Illustration.svg");
      background-repeat: no-repeat;
}
/* Parte destra CRM*/
main section.crm .crm-right{
      width: 70%;
      margin-top: 40px;
}
main section.crm .crm-right-content{
      width: 65%;
}
main section.crm .crm-right-content h3{
      margin-top: 50px;
      font-size: 20px;
}
main section.crm .crm-right-content p{
      margin-top: 35px;
      margin-bottom: 25px;
      line-height: 1.6;
      font-size: 16px;
}
main section.crm .crm-right-content h4{
      text-transform: uppercase;
}
main section.crm .crm-right-content hr{
      margin-top: 7px;
      margin-left: 45px;
      width: 400px;
}
main section.crm .crm-right-content li{
      padding-right: 10px;
      padding-left: 0;
}
main section.crm .crm-right-content li i{
      padding-right: 7px;
      color: #ff7a59;
}
/* FINE CRM */

/* SEZIONE SERVICES */
main section.services{
      width: 100%;
      margin: 50px 0;
}
main section.services .service{
      width: calc(100% / 3 - 40px);
      margin: auto;
      text-align: center;
      background-color: white;
      border-radius: 10px;
      box-shadow: 0 0px 5px 0 rgba(50, 73, 91, 0.2), 0 3px 20px 0 rgba(0, 0, 0, 0.1);
}
/* Box centrale */
main section.services .cx{
      margin: 0 60px;
}
/* Parte superiore */
main section.services .service .service-info-top{
      width: 80%;
      margin: auto;
      margin-top: 20px;
      border-bottom: 2px solid grey;
}
main section.services .service .service-info-top img{
      height: 150px;
      text-align: center;
}
main section.services .service .service-info-top h3{
      margin-top: 20px;
      font-size: 25px;
}
main section.services .service .service-info-top p{
      width: 90%;
      margin: auto;
      margin-top: 20px;
      margin-bottom: 60px;
      font-size: 18px;
      line-height: 1.6;
}
/* Parte inferirore */
main section.services .service .service-info-bottom{
      width: 80%;
      margin: auto;
}
main section.services .service .service-info-bottom h4{
      text-transform: uppercase;
      font-size: 18px;
      margin-top: 25px;
}
main section.services .service .service-info-bottom ul{
      margin: 25px 0;
      text-align: left;
}
main section.services .service .service-info-bottom ul li{
      display: block;
      margin: 0;
      padding: 0;
      line-height: 1.6;
}
main section.services .service .service-info-bottom ul li i{
      padding-right: 7px;
      color: #ff7a59;
}
main section.services .service .service-info-bottom a{
      line-height: 90px;
}

/* SEZIONE DATI E STATISTICHE */
main section.analitycs{
      width: 100%;
      background: linear-gradient(45deg, #00a4bd, #00bda5);  
      padding-bottom: 60px; 
}
/* Titolo e paragrafo */
main section.analitycs .text-content{
      width: 95%;
      margin: auto;
      padding: 30px 0;
      text-align: center;
      font-size: 25px;
}
main section.analitycs .text-content h2{
      color: #f5f8fa;
      font-size: 40px;
}
main section.analitycs p{
      color: #f5f8fa;
      font-size: 20px;
      text-align: center;
      font-size: 18px;
}
/* Box con dati flottati */
main section.analitycs .dates{
      width: 100%;
      margin-top: 60px;
}
main section.analitycs .dates .dates-content{
      width: calc(100% / 4);
      height: 200px;
      text-align: center;
      position: relative;
}
main section.analitycs .dates .dates-content img{
      height: 20%;
      position: absolute;
      left: 50%;
      top: 8%;
      transform: translateX(-50%);
}
main section.analitycs .dates .dates-content h5{
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      font-size: 40px;
      padding: 10px 0;
      color: white;
}
main section.analitycs .dates .dates-content h5::after{
      content: "\002B";
      padding-left: 5px;
      font-size: 25px;
      vertical-align: middle;
}
main section.analitycs .dates .dates-content p{
      position: absolute;
      left: 50%;
      bottom: 15%;
      transform: translateX(-50%);
      font-size: 15px;
}
/* ID box flottati */
#dates-one{
      border-bottom: 1px solid white;
      border-right: 1px solid white;
}
#dates-two{
      border-bottom: 1px solid white;
      border-right: 1px solid white;
}
#dates-three{
      border-bottom: 1px solid white;
      border-right: 1px solid white;
}
#dates-four{
      border-bottom: 1px solid white;
}
#dates-five{
      border-right: 1px solid white;
}
#dates-six{
      border-right: 1px solid white;
}
#dates-seven{
      border-right: 1px solid white;
}
/* SEZIONE CUSTOMERS */
main section.customers{
      width: 100%;
      padding: 40px 0;
}
main section.customers .customer-container{
      width: 65%;
      margin: auto;
      height: 250px;
}
/* Box testo */
main section.customers .customer-container .customer-info{
      width: 20%;
}
main section.customers .customer-container .customer-info h5{
      font-size: 50px;
      margin-bottom: 25px;
}
main section.customers .customer-container .customer-info p{
      font-size: 20px;
      line-height: 1.6;
}
/* Parte LOGHI */
main section.customers .customer-container .customer-logos{
      width: 80%;
      height: 65%;
}
main section.customers .customer-container .customer-logos .container-logos{
      width: 100%;
      height: 90%;
}
main section.customers .customer-container .customer-logos .container-logos .customer-logo{
      width: calc(100% / 4);
      height: 50%;
      text-align: center;
}
main section.customers .customer-container .customer-logos .container-logos .customer-logo img{
      height: 60%;
}

/* SEZIONE STARTER */
main section.starter{
      width: 100%;
      background-color: #f5f8fa;
}
/* Parte tiolo e descrizione */
main section.starter .starter-text{
      width: 30%;
}
main section.starter .starter-text h4{
      font-size: 30px;
}
main section.starter .starter-text p.big-p{
      padding-top: 30px;
      padding-bottom: 50px;
      font-size: 14px;
      line-height: 1.6;
}
main section.starter .starter-text a{
      font-size: 15px;
}
main section.starter .starter-text p.little-p{
      padding-top: 60px;
      font-size: 11px;
}

/* Parte con foto */
main section.starter .starter-photo{
      width: 70%;
      height: 400px;
      text-align: right;
}
main section.starter .starter-photo img{
      height: 75%;
      border-radius: 50%;
      transition: width 2s, height 2s, transform 2s;
}
main section.starter .starter-photo img:hover{
      height: 85%;
      transform: rotate(360deg);
}
/* Fine MAIN */

/* FOOTER */
footer{
      width: 100%;
      background-color: #2d3e50;
}
/* SEZIONE LINK TOP */
footer section.footer-top{
      width: 100%;
}
footer section.footer-top .menu-links{
      width: 100%;
}
footer section.footer-top .menu-links .link-inmenu{
      width: calc(100% / 4);
}
/* Contenuto */
footer section.footer-top .menu-links .link-inmenu h5{ 
      font-size: 20px;
      color: white;
      margin: 30px 0;
}
footer section.footer-top .menu-links .link-inmenu li{
      display: block;
      line-height: 1.6;
      list-style: none;
      font-size: 15px;
}
footer section.footer-top .menu-links .link-inmenu li a{
      color: white;
}
/* Incone social */
footer section.footer-top .menu-links .link-inmenu ul.socials li{
      display: inline;
      font-size: 19px;
}
footer section.footer-top .menu-links .link-inmenu ul.socials li i{
      color: white;
      padding-top: 15px;
}
/* SEZIONE LINGUE */
footer section.lenguage{
      text-align: center;
}
footer section.lenguage .container{
      border-bottom: 2px solid white;
}
footer section.lenguage li a{
      color: white;
      font-size: 12px;
}
/* SEZIONE COPYRIGHT BOTTOM*/
footer section.footer-bottom{
      width: 100%;
      margin-top: 20px;
}
footer section.footer-bottom .copyright{
      width: 100%;
}
/* Parte con logo */
footer section.footer-bottom .copyright .copyright-logo{
      width: 50%;
}
footer section.footer-bottom .copyright .copyright-logo p{
      color: lightgray;
      font-size: 10px;
}
/* Parte termini e condizioni */
footer section.footer-bottom .copyright .copyright-terms{
      width: 50%;
      text-align: right;
}
footer section.footer-bottom .copyright .copyright-terms ul li{
      padding: 0 5px;
}
footer section.footer-bottom .copyright .copyright-terms ul li a{
      color: white;
      font-size: 15px;
}
/* Fine FOOTER */